html, body {
  /* write css */
}


.container{
  /* wrtie css */
}

.editor{
    /* write css*/
     display: flex;
     flex-wrap: wrap;
}

.board {
    /* write css */
     background-color: black;
     /*! display: flex; */
     /*! flex-wrap: wrap; */
     order: 2;
}

.edit {

}

/* buttons to swtic mode */

.nav-list{
    /* write css */
     /*! display: flex; */
     width: 100%;
     order: 1;
}

.code {
     /* write css */
     

}

.docs{
     /* write css */
}

.sketch {
     /* write css */
}

.anonymous {
     /* write css */
}





